<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>movie</display-name>
  <welcome-file-list>
    <welcome-file>Movieaction</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginaction</display-name>
    <servlet-name>Loginaction</servlet-name>
    <servlet-class>com.movie.servlet.Loginaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginaction</servlet-name>
    <url-pattern>/Loginaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registeraction</display-name>
    <servlet-name>Registeraction</servlet-name>
    <servlet-class>com.movie.servlet.Registeraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registeraction</servlet-name>
    <url-pattern>/Registeraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Movieaction</display-name>
    <servlet-name>Movieaction</servlet-name>
    <servlet-class>com.movie.servlet.Movieaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movieaction</servlet-name>
    <url-pattern>/Movieaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categoryaction</display-name>
    <servlet-name>Categoryaction</servlet-name>
    <servlet-class>com.movie.servlet.Categoryaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categoryaction</servlet-name>
    <url-pattern>/Categoryaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Querymovieaction</display-name>
    <servlet-name>Querymovieaction</servlet-name>
    <servlet-class>com.movie.servlet.Querymovieaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Querymovieaction</servlet-name>
    <url-pattern>/Querymovieaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Moviedetailaction</display-name>
    <servlet-name>Moviedetailaction</servlet-name>
    <servlet-class>com.movie.servlet.Moviedetailaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Moviedetailaction</servlet-name>
    <url-pattern>/Moviedetailaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginoutaction</display-name>
    <servlet-name>Loginoutaction</servlet-name>
    <servlet-class>com.movie.servlet.Loginoutaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginoutaction</servlet-name>
    <url-pattern>/Loginoutaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Moviesimlaraction</display-name>
    <servlet-name>Moviesimlaraction</servlet-name>
    <servlet-class>com.movie.servlet.Moviesimlaraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Moviesimlaraction</servlet-name>
    <url-pattern>/Moviesimlaraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recommendaction</display-name>
    <servlet-name>Recommendaction</servlet-name>
    <servlet-class>com.movie.servlet.Recommendaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recommendaction</servlet-name>
    <url-pattern>/Recommendaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commentsscoreaction</display-name>
    <servlet-name>Commentsscoreaction</servlet-name>
    <servlet-class>com.movie.servlet.Commentsscoreaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commentsscoreaction</servlet-name>
    <url-pattern>/Commentsscoreaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Browsiedaction</display-name>
    <servlet-name>Browsiedaction</servlet-name>
    <servlet-class>com.movie.servlet.Browsiedaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Browsiedaction</servlet-name>
    <url-pattern>/Browsiedaction</url-pattern>
  </servlet-mapping>
</web-app>